*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: #3C2F2F;
    overflow: hidden;
}

nav{
    width: 100vw;
    background: #FFF4E6;
    padding: 1.4rem 1.5rem;

}

nav a{
    color: rgba(60, 47, 47, 1);
    font-size: 1.2em;
    font-weight: bold;
}

.all{
    padding: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-and-button{
    color: #FFF4E6;
    display: flex;
    flex-direction: column;
}

.text-and-button h3{
    font-size: 5em;
}

.text-and-button a{
    font-size: 2em;
    padding-bottom: 2em;
}

.text-and-button input{
    font-size: 2em;
    font-weight: bold;
    padding: 0.6em;
    border: none;
    border-radius: 0.4em;
    box-shadow: 13px 30px 15px -3px rgba(0,0,0,0.1);
    background-color: #4B3832;
    color: #FFF4E6;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.text-and-button input:hover{
    background-color: #FFF4E6;
    color: #4B3832;
}

.right-img img{
    width: 30vw;
    border: #FFF4E6 9px solid; 
    border-radius: 0.4em;
}

@media screen and (max-width: 1000px){

    nav{
        text-align: center;
        padding-left: 0;
    }

    .right-img{
        display: none;
    }

    .text-and-button{
        display: flex;
        width: 100%;
        padding-top: 5%;
        text-align: center;
    }

    .text-and-button h3{
        font-size: 2em;
    }

    .text-and-button a{
        font-size: 1.4em;
    }
}

@media screen and (max-width: 1600px){
    .all{
        display: flex;
        flex-direction: column;
        gap: 8rem;
    }

    .right-img img{
        width: 40vw;
    }
}